.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  align-self: flex-end;
  position: relative;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-items: end;
}

.header a:hover {
  background: #e0e0e0;
  border-radius: 25px;
}

.header a::after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.09);
  width: 100%;
  height: 1px;
  bottom: 35px;
  position: absolute;
  left: 0px;
  z-index: -1;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #141414;
  display: block;
}

.header a:hover {
  background: #e0e0e0;
  border-radius: 25px;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background: #f5f5f5;
    border-radius: 4px;
  }
  .header a::after {
    background-color: initial;
  }
}
